@tailwind base;
@tailwind components;
@tailwind utilities;

root,
html,
body {
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 9999px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #022b3a;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 9999px;
  background-color: #022b3ab7;
}

